{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1>Liste des évènements</h1>
{#    <a href="{{ path('calendar_new') }}">#}
{#        <button type="button" class="btn btn-primary">Créer un nouveau créneau</button>#}
{#    </a>#}

<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="calendar-tab" href="/calendar">Liste des créneaux</a>
        </li>
        <li class="nav-item">
{#            "{{ path('calendar_new') }}"#}
            <a class="nav-link" id="create-tab" data-toggle="tab" href="/calendar/new" role="tab" aria-controls="profile"
               aria-selected="false">Créer un créneau</a>
        </li>
    </ul>
    <div class="card">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="calendar-tab">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Description</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calendar in calendars %}
                        <tr>
                            <td>{{ calendar.title }}</td>
                            <td>{{ calendar.day ? calendar.day|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ calendar.end ? calendar.end|date('d-m-Y H:i:s') : '' }}</td>

                            <td>{{ calendar.description }}</td>
                            <td>
                                <a href="{{ path('calendar_show', {'id': calendar.id}) }}">
                                    <button type="button" class="btn btn-primary">Récapitulatif</button>
                                </a>
                                <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">
                                    <button type="button" class="btn btn-primary">Editer</button>
                                </a>
                                {{ include('calendar/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="create-tab">

        </div>
    </div>
{% endblock %}
