{% extends 'base.html.twig' %}

{% block title %}Edition {{ calendar.NomMatiere }} du {{ calendar.Debut|date('d-m-Y') }}{% endblock %}

{% block body %}
    <h1>Edition du créneau {{ calendar.NomMatiere }} du {{ calendar.Debut|date('d-m-Y') }}</h1>

    {{ include('gestion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('calendar_index') }}">Retour à la liste</a>

    {{ include('gestion/_delete_form.html.twig') }}
{% endblock %}
