{% extends 'base.html.twig' %}

{% block title %}Créneau {{ calendar.NomMatiere }}{% endblock %}

{% block body %}
    <h1>Récapitulatif du créneau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Matière</th>
                <td>{{ calendar.NomMatiere }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ calendar.Debut ? calendar.Debut|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendar.Fin ? calendar.Fin|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('calendar_index') }}">Retour</a>
    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>

{% endblock %}
